.headerFive{
  background-color: #36393F;
  width: 510px;
  height: 1080px;
margin: -1096px 0 0 320px;
}

textarea {
  position:absolute;
	resize: none;
  width: 420px;
  margin: 970px 0px 0px 15px;
  background-color: #4d4f53;
  border-radius: 10px;
  overflow: hidden;
  font-size: 16px;
  color:aliceblue;
  border: none;
  
}


