body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

*{
  font-family: 'inter', system-ui;
}

.wrapper {
  background: #e7f6ff;
  box-shadow: 0px 10px 20 px rgba(0, 0, 0, 0.04);
  max-width: 1080px;
  margin:  50px auto;
}






